.imagesConteiner {
  display: grid;
  grid-template-columns: repeat(3, 25vw);
  grid-template-rows: 25vw 25vw;
  justify-content: space-between;
  row-gap: calc(4vw/2);
  margin-top: 60px;
}

@media (max-width: 600px) {

  .imagesConteiner {
    margin-top: 20px;
  }
  
}