.textBlock>p{
  font-size: 20px;
}



@media (max-width: 600px) {

  .textBlock>p{
    font-size: 16px;
  }
  
}

@media (min-width: 1920px) {
  .textBlock>p{
    font-size: 1vw;
  }
  
}