.cardConteiner {
  height: 100%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 10px;
  /* border:none; */
  /* box-shadow: none; */
  transition: 0.3s;
}
.cardConteiner:hover{
  /* padding: 5px; */
  transition: 0.3s;
}
