.content{
  display: grid;
  grid-template-columns: 5fr 2fr 5fr;
  padding: 0 10% 0 10%;
  margin-top: max(30px,2.1vw);
  margin-bottom: max(30px,2.1vw);
  column-gap: max(30px,1.5vw);
}

.secondaryImagesConteiner{
  display: grid;
  row-gap: max(30px,1.5vw);
}
.secondaryImageConteiner{
  position:relative;

}

.mainImage{
  position:relative;
  width: 100%;
  /* height:max(775px); */
  object-fit: cover;
}

.secondaryImage{
  position:relative;
  width: 100%;
  height:min(240px,12.5vw);
  object-fit: cover;
  cursor:pointer;
}

.infoConteiner{
  display: flex;
  flex-direction: column;
}

.buttonsConteiner{
  display: grid;
  height: max(60px,3vw);;
  grid-template-columns: 2fr 3fr;
  margin-top: max(60px,3vw);
  column-gap: max(30px,1.5vw);

}
.buttons{
  display: flex;
}

.description{
  margin-top: auto;
}