
html,
body {
  padding: 0;
  margin: 0;
  background-color: #F8F2EA !important;
  font-family: Raleway, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-variant: lining-nums;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Zeferino One';
  src: url('../public/fonts/ZeferinoOne.eot');
  src: url('../public/fonts/ZeferinoOne.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/ZeferinoOne.woff2') format('woff2'),
      url('../public/fonts/ZeferinoOne.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Zeferino One';
  src: url('../public/fonts/ZeferinoOne.eot');
  src: url('../public/fonts/ZeferinoOne.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/ZeferinoOne.woff2') format('woff2'),
      url('../public/fonts/ZeferinoOne.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  /* body {
    color: white;
    background: black;
  } */
}
.MuiPickersPopper-root button{
  font-size: 16px;
}

.swiper{
  padding: max(20px) 0 !important;
  height: auto !important;
}
.swiper-wrapper{
  padding-bottom: 20px;
}

/* enter */
.fade-enter {
  /* position: absolute; */
  opacity: 0;
  z-index: 1;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

/* exit */
.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

/* .fadeHouse-exit-done {
  opacity: 0;
} */