.header {
  display: block;
  width: 100%;
}

.logoConteiner {
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  width: 284px;
  height: 72px;
}

.logoConteiner img+img {
  margin-top: 20px;
}

.headerContent {
  width: 100%;
  display: grid;
  grid-template-columns: 5fr 5fr 2fr;
  /* column-gap: max(30px,1.5vw);; */
  padding: 40px 0px;
  border-bottom: 2px solid #A08863;
}

.navigation {
  display: grid;
  grid-template-columns:1fr 2fr 1fr 1fr;
  column-gap: max(30px,1.5vw);;
  list-style: none;
  padding: 0;
}

.navigation li {
  display: flex;
  /* cursor: pointer; */
  align-items: center;
  white-space: nowrap
}
.navigation a {
  margin-right: 5px;
  /* display: flex; */
  cursor: pointer;
  /* align-items: center; */
}

.navigation a:hover {
  color: rgb(168, 168, 168);
}

.iconsConteiner {
  display: grid;
  grid-template-columns: repeat(4, auto);
  margin-left: max(30px,1.5vw);
  align-items: center;
  justify-content: right;
  column-gap: max(10px,0.5vw);;
}

.iconsConteiner>a {
  cursor: pointer;
  justify-self: end;
}
.iconsConteiner>img{
  cursor: pointer;
}