

.textBox {
  display: flex;
  flex-direction: column;
}

.textBoxTitle {
  display: flex;
  flex-direction: column;
}

.buttonBox {
  display: grid;
  grid-template-columns: 3fr 3fr;

}

.textBoxTitle h1+h1 {
  text-align: end;
}


@media (-webkit-min-device-pixel-ratio: 1.25) {
  .textBoxTitle h1 {
    font-size: 72px;
  }

  .textBoxTitle .specialFont {
    font-size: 100px;
  }
}