.cardConteiner {
  height: 100%;
  position: relative;
  cursor: pointer;
  transition: 0.3s;
}
.card {
  display: flex;
  flex-direction: column;
  padding: 10px;
  transition: 0.3s;
}

.cardConteiner:hover{
  transition: 0.3s;
}

.cardHeart{
  
  position: absolute !important;
  right:10%;
  top:4%;
  background-color: #F8F2EA !important;
}

