
.infoConteiner{
  display: flex;
  flex-direction: column;
}

.buttonsConteiner{
  display: grid;
  height: max(60px,3vw);;
  grid-template-columns: 2fr 3fr;
  margin-top: max(60px,3vw);
  column-gap: max(30px,1.5vw);

}
.buttons{
  display: flex;
}

.description{
  margin-top: auto;
}